
/*網頁上方大區塊*/
ul{
    list-style:none;
}

#top{
    border:solid 0px #666;
    width:1250px;
    height:113px;
    position:absolute;
    top:0;
    left:10px;
    background-color:#E8FFF5;
    z-index:3;
    margin: auto 0;
    overflow:visible;
    text-align: center;
}
/*店鋪名稱*/
#top>h1{
    position:absolute;
    top: 34px;
    left:505px;
}
/*店鋪圖案*/
#top>img:nth-child(2){
    position:absolute;
    bottom: 0px;
    left: 280px;
    width:7%
}

/*內外帳切換*/
#top>.account{
    position:relative;
    top: 41px;
    left: 205px;
    font-size:15px;
    margin-right:7px;

}

/*網頁上方下部分導覽列*/
#top>ul{
    position:relative;
    top:74px;
    width: 1500px;
    margin:0;
    padding:0;

}

#top>ul>li{

    margin:0 ;
    float:left;
    border:0px solid gray;
    background-color:#00CACA;
}


/*總進貨金額*/

#top>.buyin{
    position:relative;
    top:54px;
    right: 50px;
}
#top>.buyin>p{
    display: inline-block;
    margin-left: 147px;
}

/* 搜尋框 跟選項 */
#top>.text{
    position:relative;
    top:110px;
    left: 456px;
    width: 38%;
    height: 10%;
    margin:0 ;
}
#top>.option{
    position:relative;
    top:99px;
    left: 261px;
    width: 13%;
    height: 10%;
    margin:0 ;
}
#top>.option>select>option{
    margin:0 ;
    text-align: center;
}